/* start of our service section */
.img-services {
  max-width: 85%;
}

.service-subtitle {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.service-paragraph {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}

.custom-ul-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.img-list {
  background: url("../img/img.list.png") no-repeat left top;
  padding-left: 3.5rem;
}

/* end of our service section */
