.card {
  min-height: 18rem;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2;
}

.card-text {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
}

.whyus-title,
.whyus-subtitle {
  font-weight: 700;
}

.whyus-title {
  font-size: 2.4rem;
  line-height: 2;
}

.whyus-subtitle {
  font-size: 1.4rem;
}
