* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: black;
}

/* Start of Navbar Section */
#offcanvasNavbar {
  width: 300px;
}

#mainNavbar {
  background-color: #f1f3ff;
  font-size: 1.6rem;
  line-height: 2;
}

#bcrNavbarBrand {
  display: block;
  background-color: #0d28a6;
  width: 10rem;
  height: 3.4rem;
  color: #0d28a6;
}

.btn-nav-custom {
  font-size: 1.4rem;
}
.custom-navbar-margin {
  margin-left: 8rem !important;
  margin-right: 8rem !important;
}

.navbar-toggler {
  width: 3.4rem;
  height: 3.4rem;
}
.nav-item .nav-link {
  color: black;
  font-weight: 400;
}
/* End of Navbar Section */
/* Start of Hero Section */
#hero-section {
  background-color: #f1f3ff;
}
.hero-title {
  font-weight: 700;
  line-height: 5.4rem;
  font-size: 6rem;
}
.hero-subtitle {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
}
#hero-button {
  width: 18rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
  background-color: #5cb85f;
}
.hero-img {
  min-width: 100%;
}
#hero-text {
  padding-left: 8rem !important;
}
/* End of Hero Section */
/* media queries */
@media only screen and (max-width: 768px) {
  .offcanvas-body .navbar-nav .nav-item:first-child {
    margin-top: 0;
  }
  .offcanvas-body .navbar-nav .nav-item {
    margin-top: 20px;
  }
  .custom-navbar-margin {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
  #hero-text {
    padding-left: 1.6rem !important;
  }
  .hero-title {
    font-weight: 700;
    line-height: 5.4rem;
    font-size: 4.4rem;
  }
}

@media only screen and (max-width: 576px) {
  section {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
